div#box {
    color: white;
    background-color: rgba(151, 47, 236, 0.829);
    margin-top: 300px;
    height: 1500px;
    font-family: monospace;
    font-size: 20px;
    overflow: overlay;

}

div#timecount {
    text-align:center;
}
div#title {
    margin: auto;
    text-align: center;
}

h3.intro {
    font-size: 80px;
    font-family: monospace;
    color: white;
}
div#questionBox {
    border: 4px dashed black;
    height: 70px;
    margin: 10px;
    white-space: normal;
    color: rgb(255, 174, 0);
}

button#submit-btn {
    margin-top: 30px;
    margin-bottom: 30px;
}

label.option {
    margin: 20px;
}


